<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9341e0d5bcad1dc9e009881542bf8276 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9341e0d5bcad1dc9e009881542bf8276" ></div>
        
</body>
<script>
    
    
            var map_9341e0d5bcad1dc9e009881542bf8276 = L.map(
                "map_9341e0d5bcad1dc9e009881542bf8276",
                {
                    center: [19.19618605, 72.98732651033094],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_68a47766999efcba60b3092ef6ec0a16 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_68a47766999efcba60b3092ef6ec0a16.addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var marker_7eff69472ccdbb6288930d5e00970d86 = L.marker(
                [19.249897275143383, 73.04407168541499],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_ec25eeffc93b6ff7159a56ada1a58dbe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7eff69472ccdbb6288930d5e00970d86.setIcon(icon_ec25eeffc93b6ff7159a56ada1a58dbe);
        
    
            var marker_af9f9565533dfb834ec7c33d7c388705 = L.marker(
                [19.219467570806415, 73.06878025495493],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_0a85cf7c092fe3a9458cc7427b158988 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_af9f9565533dfb834ec7c33d7c388705.setIcon(icon_0a85cf7c092fe3a9458cc7427b158988);
        
    
            var marker_41d0fbb990ae718ef55970f690d0b480 = L.marker(
                [19.100068573967754, 73.0306919989069],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_44f6ad19088de60a2850386998042036 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_41d0fbb990ae718ef55970f690d0b480.setIcon(icon_44f6ad19088de60a2850386998042036);
        
    
            var marker_57a258b0bc4d003e98b1307bdc1cb30a = L.marker(
                [19.24309014387752, 72.9448955564355],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_8f68e3e5f8a34828d6854dd52800cc52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_57a258b0bc4d003e98b1307bdc1cb30a.setIcon(icon_8f68e3e5f8a34828d6854dd52800cc52);
        
    
            var marker_4ae137c758c9981c96a26be33db3d4b9 = L.marker(
                [19.155358550947433, 73.00389796436419],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_a8cb14fb4b57303e1797ac0eae46b2c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4ae137c758c9981c96a26be33db3d4b9.setIcon(icon_a8cb14fb4b57303e1797ac0eae46b2c3);
        
    
        var popup_ecf18adb3e1c325b3aa4097486c0982d = L.popup({"maxWidth": "100%"});

        
            
                var html_b830043e37fff431560bee8c1cb7676d = $(`<div id="html_b830043e37fff431560bee8c1cb7676d" style="width: 100.0%; height: 100.0%;"><div style="padding: 10px;"><b>Worker Location:</b> Airoli - Katai Naka Elevated Road, Airoli Sector 5, Airoli, Navi Mumbai, Thane Taluka, Thane District, Maharashtra, 410701, India<br><b>Estimated Time to Reach:</b> 0 hours 19 minutes</div></div>`)[0];
                popup_ecf18adb3e1c325b3aa4097486c0982d.setContent(html_b830043e37fff431560bee8c1cb7676d);
            
        

        marker_4ae137c758c9981c96a26be33db3d4b9.bindPopup(popup_ecf18adb3e1c325b3aa4097486c0982d)
        ;

        
    
    
            var marker_52be8b9fde1f5e24917477cf689b6fa5 = L.marker(
                [19.09956440322222, 72.91262812035832],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_36a52ca1d0f52142b121e62fbdd4ff7f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_52be8b9fde1f5e24917477cf689b6fa5.setIcon(icon_36a52ca1d0f52142b121e62fbdd4ff7f);
        
    
            var marker_96dc88bb349c1d13ea738d42f1f8ab95 = L.marker(
                [19.228672599181493, 72.95293735995679],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_9be08ec8b702c00b3175a74790093fa1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_96dc88bb349c1d13ea738d42f1f8ab95.setIcon(icon_9be08ec8b702c00b3175a74790093fa1);
        
    
            var marker_d6b548d808394a5b44d5a45c86d555e5 = L.marker(
                [19.160072846333602, 73.01200255548297],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_20fd96f47c038a6c1fc9df17a2479a46 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d6b548d808394a5b44d5a45c86d555e5.setIcon(icon_20fd96f47c038a6c1fc9df17a2479a46);
        
    
            var marker_96ef143d0985552245ce9d2fce37242a = L.marker(
                [19.242495047283594, 73.01525253213906],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_2137f74c2d272245261a4a2edea30992 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_96ef143d0985552245ce9d2fce37242a.setIcon(icon_2137f74c2d272245261a4a2edea30992);
        
    
            var marker_d5020681ec0718dad28f25464003950b = L.marker(
                [19.22901629657958, 72.93752251657249],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_340d43c65244bd62cb3b179d61ddfbd4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d5020681ec0718dad28f25464003950b.setIcon(icon_340d43c65244bd62cb3b179d61ddfbd4);
        
    
            var marker_0213b0d852d41bc72e7c806c7fe742b1 = L.marker(
                [19.18134247354876, 73.04427319053381],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_f12f2b2bbe023ea726c262488b36f4b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0213b0d852d41bc72e7c806c7fe742b1.setIcon(icon_f12f2b2bbe023ea726c262488b36f4b1);
        
    
            var marker_1abdcc65ff046d11ec06c4b812d8aa9e = L.marker(
                [19.091296837698685, 73.09522408896844],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_28caaa36810b6a4a4e46850e586c5b98 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1abdcc65ff046d11ec06c4b812d8aa9e.setIcon(icon_28caaa36810b6a4a4e46850e586c5b98);
        
    
            var marker_efc0557ba31a49ec7f3e051a601ea442 = L.marker(
                [19.127132646077765, 73.03472413507819],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_ac5cd0ec8208f7d5961a58793129bc63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_efc0557ba31a49ec7f3e051a601ea442.setIcon(icon_ac5cd0ec8208f7d5961a58793129bc63);
        
    
            var marker_5ec2ae642cb0cb521e6da15e5f3df9b3 = L.marker(
                [19.172452521368314, 72.91377890299187],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_c3029e1e12aa855eeb721307b0b6ac18 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5ec2ae642cb0cb521e6da15e5f3df9b3.setIcon(icon_c3029e1e12aa855eeb721307b0b6ac18);
        
    
            var marker_622992fed107d8409d1142193dfd164c = L.marker(
                [19.19482524618391, 73.08638682611338],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_fd8927453fe12ab5392a3361ba442a1a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_622992fed107d8409d1142193dfd164c.setIcon(icon_fd8927453fe12ab5392a3361ba442a1a);
        
    
            var marker_b25fde983de71a4c7a7f0e7b5211ea61 = L.marker(
                [19.110557753225923, 73.04998073739448],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_f9ed4cd99b31fd206316aa30ce2e95db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b25fde983de71a4c7a7f0e7b5211ea61.setIcon(icon_f9ed4cd99b31fd206316aa30ce2e95db);
        
    
            var marker_ab42c681f03a92b4910685f238f3b548 = L.marker(
                [19.05903737537509, 73.08863083112414],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_5c665ba7d63ed752f088e6e2687addcd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ab42c681f03a92b4910685f238f3b548.setIcon(icon_5c665ba7d63ed752f088e6e2687addcd);
        
    
            var marker_975ef3c022115db6296ae04824fc2d33 = L.marker(
                [19.130271186115838, 72.9257066010028],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_1bd17d89540e4cb586b2cedebdb8f989 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_975ef3c022115db6296ae04824fc2d33.setIcon(icon_1bd17d89540e4cb586b2cedebdb8f989);
        
    
            var marker_1cbf3a8d55750d70def4acbf3d1f08ae = L.marker(
                [19.075093317356913, 73.06916439586004],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_1f330d49f1e23a3ed3c91a1148982f11 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1cbf3a8d55750d70def4acbf3d1f08ae.setIcon(icon_1f330d49f1e23a3ed3c91a1148982f11);
        
    
            var marker_add996210b5c72f38859000ef0d40733 = L.marker(
                [19.084525690829892, 72.92348266544298],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_2c59a98c35d4ac70db47a2246ec39572 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_add996210b5c72f38859000ef0d40733.setIcon(icon_2c59a98c35d4ac70db47a2246ec39572);
        
    
            var marker_450556d210964584730314056a135fb5 = L.marker(
                [19.19618605, 72.98732651033094],
                {}
            ).addTo(map_9341e0d5bcad1dc9e009881542bf8276);
        
    
            var icon_9162ff5599006fae127bbb86ab430e07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_450556d210964584730314056a135fb5.setIcon(icon_9162ff5599006fae127bbb86ab430e07);
        
    
        var popup_b775ea1550e9e8d33be72dd810b9223a = L.popup({"maxWidth": "100%"});

        
            
                var html_e4867e240ce131d5d39ab7545be4a1e2 = $(`<div id="html_e4867e240ce131d5d39ab7545be4a1e2" style="width: 100.0%; height: 100.0%;">Please provide us your feedback.<br><button onclick="window.location.href='/feedback_page'" style="background-color: #4CAF50; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">YES</button><button onclick="window.location.href='/'" style="background-color: #f44336; border: none; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">NO</button></div>`)[0];
                popup_b775ea1550e9e8d33be72dd810b9223a.setContent(html_e4867e240ce131d5d39ab7545be4a1e2);
            
        

        marker_450556d210964584730314056a135fb5.bindPopup(popup_b775ea1550e9e8d33be72dd810b9223a)
        ;

        
    
    
            map_9341e0d5bcad1dc9e009881542bf8276.fitBounds(
                [[19.19618605, 72.98732651033094]],
                {"padding": [30, 30]}
            );
        
</script>
</html>